* {
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Bellefair", serif;
}
h2 span {
  font-family: "Bellefair", serif;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.presentacion {
  background-image: url(./assets/home/background-home-mobile.jpg);
}
.planetas {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
  height: 100%;
}
.crew {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  height: 110vmax;
}
.technology {
  background-image: url(./assets/technology/background-technology-mobile.jpg);
  height: 100vh;
}
.logotipo {
  height: 2.5rem;
  width: 2.5rem;
}
.navegacion-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 1rem;
  z-index: 2;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8rem;
}
a {
  text-decoration: none;
}
a span {
  font-weight: 700;
  margin-right: 0.5rem;
}
.navegacion-superior a {
  color: #fff;
  display: block;
}
li {
  margin: 1.5rem 0;
}

.navegacion-inactiva {
  display: none;
}
.navegacion-activa {
  position: absolute;
  right: 0rem;
  background-color: #ffffff1e;
  width: 60%;
  height: 100vh;
  top: 0;
  padding-left: 2rem;
  backdrop-filter: blur(10px);
  overflow: none;
}

.navegacion-activa a {
  margin: 1rem 0;
  color: #fff;
}
.contenedor {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 93vh;
}
.menu {
  z-index: 2;
}
.contenedor p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
h1 {
  margin: 0;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
}
h1 span {
  font-weight: 300;
  font-size: 5rem;
  font-family: "Bellefair", serif;
  padding-top: rem;
}
.circulo-blanco {
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  background-color: #fff;
  border-radius: 50%;
}
.circulo-blanco a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  font-family: "Bellefair", serif;
}
.planetas-h2 {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: gray;
  text-align: center;
}
.planetas-h2 span {
  color: #fff;
  font-weight: 300;
  margin-left: 0.5rem;
}
.navegacion-planetas ul,
.navegacion-planetas li {
  margin: 0;
}
.navegacion-planetas ul {
  display: flex;
  justify-content: center;
}
.navegacion-planetas a {
  color: #fff;
  margin: 0 0.6rem;
  font-family: "Bellefair", serif;
  transition: color 0.3s;
}

.navegacion-planetas a:hover {
  color: #d0d6f9;
}
.planeta-imagen {
  width: 50vw;
  margin: 2.5rem auto;
  display: flex;
}
.planeta-nombre {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}
.planeta-especificacion {
  color: #fff;
  text-align: center;
  margin: 1rem 1rem;
  border-bottom: 0.1rem solid #d0d6f94b;
  padding-bottom: 1rem;
}
.planeta-distancia {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
}
.planeta-distancia span {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.tiempo {
  margin: 0;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.crew-h3,
.crew-h2,
.crew-p {
  color: #fff;
  text-align: center;
}
.crew-h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  margin-top: 1rem;
  color: #ffffff9a;
}
.crew-h2 {
  margin: 0;
  margin-top: 0.5rem;
}
.crew-p {
  margin: 0.6rem;
  line-height: 1.3rem;
  font-weight: 100;
}
.circulo-contenedor {
  display: flex;
  justify-content: center;
}
.circulo-navegacion,
.circulo-activo {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background-color: #ffffff8e;
  margin: 0 0.3rem;
}
.circulo-activo {
  background-color: #fff;
}

.contenedor-navegacion-tripulantes {
  display: flex;
  justify-content: center;
}

.tripulacion {
  max-width: 55vw;
  margin: 2.5rem auto;
  display: flex;
  margin-bottom: 1rem;
  margin-left: 4.5rem;
}
.douglas {
  margin: 1rem;
  width: 55vw;
  margin-left: 5.4rem;
}
.tecnologia-img {
  width: 100vw;
  height: 9rem;
  margin-top: 1rem;
}

.tecnologia-navegacion {
  border: 1px solid #ffffff73;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
}
.tecnologia-navegacion:hover {
  cursor: pointer;
}
.tecnologia-navegacion a {
  color: #fff;
}
.tecnologia-centrar {
  display: flex;
  justify-content: center;
}
.activo {
  border-bottom: 2px solid #fff;
  padding-bottom: 0.5rem;
}
