* {
  font-family: "Barlow", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Bellefair", serif;
}
h2 span {
  font-family: "Bellefair", serif;
}
header {
  height: 100vh;
  background-repeat: no-repeat;
}
.presentacion {
  background-image: url(./assets/home/background-home-mobile.jpg);
}
.planetas {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}
.logotipo {
  height: 2.5rem;
  width: 2.5rem;
}
.navegacion-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 2rem;
  z-index: 2000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8rem;
}
a {
  text-decoration: none;
}
a span {
  font-weight: 700;
  margin-right: 0.5rem;
}
.navegacion-superior a {
  color: #fff;
  display: block;
}
li {
  margin: 1.5rem 0;
}

.navegacion-inactiva {
  display: none;
}
.navegacion-activa {
  position: absolute;
  right: 0rem;
  background-color: #ffffff1e;
  width: 60%;
  height: 100vh;
  top: 0;
  padding-left: 2rem;
  backdrop-filter: blur(10px);
  overflow: none;
}

.navegacion-activa a {
  margin: 1rem 0;
  color: #fff;
}
.contenedor {
  margin-top: 5rem;
}
.menu {
  z-index: 2000;
}
.contenedor p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
  margin-bottom: 3rem;
}
h1 {
  margin: 0;
  color: #fff;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
}
h1 span {
  font-weight: 300;
  font-size: 5rem;
  font-family: "Bellefair", serif;
  padding-top: rem;
}
.circulo-blanco {
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  background-color: #fff;
  border-radius: 50%;
}
.circulo-blanco a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  font-family: "Bellefair", serif;
}
.planetas-h2 {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: gray;
  text-align: center;
}
.planetas-h2 span {
  color: #fff;
  font-weight: 300;
  margin-left: 0.5rem;
}
.navegacion-planetas ul,.navegacion-planetas li{
  margin: 0;
}
.navegacion-planetas ul{
  display: flex;
  justify-content: center;
}
.navegacion-planetas a{
  color: #fff;
  margin: 0 .6rem;
  font-family: "Bellefair", serif;
  transition: color .3s;
}
.navegacion-planetas a:hover{
  color: #D0D6F9;
}
.planeta-imagen{
  width: 50vw;
  margin: 2.5rem auto;
  display: flex;
}